*.swp
.bash_history
.bash_profile
.config/
.ssh/
.tox/
.viminfo
.vscode*
Code/
Desktop/
Documents/
Downloads/
Dropbox/
Movies/
Music/
Pictures/
.kube
.local
Applications
BaiduYun
Google Drive/
Library/
OneDrive*
Public/
