*.swp
.DS_Store
.bash_history
.bash_profile
.config/
.kube
.local
.pylint.d/
.python_history
.ssh/
.tox/
.viminfo
.vscode*
Applications
BaiduYun
Code/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
OneDrive*
Pictures/
Public/
