[user]
	name = huxuan
	email = i@huxuan.org
[color]
	ui = auto
[push]
	default = current
[alias]
	b = branch
	co = checkout
	d = diff
	l = log
	s = status
[core]
	editor = vim
	fileMode = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
